.game-div {
    width: 800px;
    height: 600px;
    box-shadow: 5px 5px 3px grey;
    background-color: white;
    margin: auto;
    border: black thin;
    border-style: solid;
    position: relative;
}

.img-div {
    width: 800px;
    height: 600px;
    position: absolute;
}

.inventory-div {
    width: 800px;
    height: 100px;
    border-top: thin;
    border-style: double none none none;
    border-color: black;
    position: absolute;
    bottom: 0em;
    background-color: white;
}

.item {
    height: 100px;
    float: left;
    width: 132.3;
    border-right: thin;
    border-style: none solid none none;
    margin: 0em;
    padding: 0em;
    position: relative;
    display: inline-block;
}

.no-item {
    height: 100px;
    float: left;
    width: 132.3;
    border-right: thin;
    border-style: none solid none none;
    margin: 0em;
    padding: 0em;
    position: relative;
    display: inline-block;
}
.inventory-div:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: antiquewhite;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
    margin-top: 300px;
    margin-right: 7px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
    margin-top: 300px;
    margin-left: 7px;
}

img {
    height: 75px;
    width: auto;
}

.inventory-div img {
    float: none;
    margin-left: 25x;
    margin-top: 10px;
}

img#String {
    position: absolute;
    bottom: 125px;
    right: 75px;
}

img#Matches {
    position: absolute;
    bottom: 200px;
    left: 200px;
}

img#Gold {
    position: absolute;
    bottom: 125px;
    right: 300px;
}

img#Stick {
    position: absolute;
    bottom: 200px;
    left: 120px;
    transform: rotate(90deg);
}

img#Hammer {
    position: absolute;
    top: 125px;
    left: 275px;
    transform: rotate(-10deg);
}

img#Rod {
    width: 300px;
    height: auto;
    position: absolute;
    left: -4px;
    bottom: 20px;
    transform: rotate(60deg);
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 100px;
    background-color: #f1f1f1;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropup-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content p:hover {
    background-color: red
}

.item:hover .dropup-content {
    display: block;
}

.character {
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

.text-div {
    position: absolute;
    bottom: 175px;
    left: 475px;
    background-image: url('images/speech-bubble.png');
    height: 256px;
    width: 256px;
}

.text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    bottom: 128px;
    left: 25px;
}