.game-div {
    width: 800px;
    height: 600px;
    box-shadow: 5px 5px 3px grey;
    background-color: white;
    margin: auto;
    border: black thin;
    border-style: solid;
    position: relative;
}

.img-div {
    width: 800px;
    height: 600px;
    position: absolute;
}

.inventory-div {
    width: 800px;
    height: 100px;
    border-top: thin;
    border-style: double none none none;
    border-color: black;
    position: absolute;
    bottom: 0em;
}

.item {
    height: 100px;
    float: left;
    width: 133.3;
    margin: 0em;
    padding: 0em;
    position: relative;
    display: inline-block;
    background-image: url('images/invFrame.png');
}

.no-item {
    height: 100px;
    float: left;
    width: 132.3;
    border-right: thin;
    border-style: none solid none none;
    margin: 0em;
    padding: 0em;
    position: relative;
    display: inline-block;
    background-image: url('images/invFrame.png');
}

.inventory-div:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: aliceblue;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
    margin-top: 300px;
    margin-right: 7px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
    margin-top: 300px;
    margin-left: 7px;
}

img {
    height: 75px;
    width: auto;
}

.inventory-div img {
    float: none;
    margin-left: 25x;
    margin-top: 10px;
}

img#String {
    position: absolute;
    bottom: 125px;
    right: 75px;
}

img#Matches {
    position: absolute;
    bottom: 200px;
    left: 200px;
}

img#Gold {
    position: absolute;
    bottom: 100px;
    right: 210px;
}

img#Stick {
    position: absolute;
    bottom: 200px;
    left: 120px;
    transform: rotate(90deg);
}

img#Hammer {
    position: absolute;
    top: -5px;
    left: 275px;
    transform: rotate(-5deg);
}

img#Rod {
    width: 300px;
    height: auto;
    position: absolute;
    left: -4px;
    bottom: 20px;
    transform: rotate(60deg);
}

.dropup-content {
    font-family: "Arial", Helvetica, sans-serif;
    display: none;
    position: absolute;
    bottom: 100px;
    background-color: #f1f1f1;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropup-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content p:hover {
    background-color: aquamarine;
}

.item:hover .dropup-content {
    display: block;
}

.character {
    height: 400px;
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

.text-div {
    position: absolute;
    bottom: 425px;
    left: 425px;
    background-image: url('images/speech-bubble.png');
    height: 128px;
    width: 256px;
}

.text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 20px;
    left: 25px;
}

[data-name='String'] {
    width: 50px;
    height: auto;
}

[data-name='Stick'] {
    width: 50px;
    height: auto;
}

.item img {
    height: auto;
    max-width: 100px;
    max-height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.craft {
    position: absolute;
    left: 150px;
    top: 75px;
    height: 350px;
    width: 500px;
    background-color: white;
    /* background-image: url('images/invFrame.png'); */
    box-shadow: 5px 5px 3px grey;
}

.crafting {
    height: 75px;
    width: 75px;
    background-color: black;
}

.crafting img {
    height: auto;
    max-width: 75px;
    max-height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.crafting [data-name='String'] {
    width: 50px;
    height: auto;
}

.crafting [data-name='Stick'] {
    width: 50px;
    height: auto;
}

.crafting [data-name='Torch'] {
    margin-top: 0px;
}

.name-div {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 40px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#first {
    position: absolute;
    margin-top: 30px;
    margin-left: 57.5px;
}
#second {
    position: absolute;
    margin-top: 30px;
    margin-left: 207.5px;
}

#advancedItem {
    position: absolute;
    margin-top: 30px;
    margin-left: 357.5px;
}

.plus-equals {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 60px;
}

#plus {
    position: absolute;
    margin-top: 40px;
    margin-left: 155px;
}

#equals {
    position: absolute;
    margin-top: 40px;
    margin-left: 302.5px;
}

#one {
    position: absolute;
    top: 185px;
    left: 132.5px;
}

#two {
    position: absolute;
    top: 185px;
    left: 282.5px;
}

.button {
    width: 50%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 225px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px;
}

.button span {
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    background-color: grey;
    color: whitesmoke;
}

.button span:hover {
    background-color: dimgray;
    color: whitesmoke;
}

.x-button {
    float: right;
    margin-right: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}

.x-button span {
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    background-color: grey;
    color: whitesmoke;
}

.x-button span:hover {
    background-color: dimgray;
    color: whitesmoke;
}